<h1>All Comments</h1>

<table>
	<tr><th>Comments</th><th>Products</th></tr>
	<% @comments.each do |c|%>
		<tr>
			<td><%= c.comment %></td>
			<td><%= c.name%></td>
		</tr>
	<% end %>
</table><br><br>

<a href="/products">Back</a>
